* {
    margin: 0;                           /* Elimina el margen por defecto de todos los elementos */
    padding: 0;                          /* Elimina el padding por defecto de todos los elementos */
    font-family: 'Arial', sans-serif;    /* Asigna la fuente 'Arial' como fuente principal para todos los elementos */
}
